name: Chess Library

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ChessLibrary:
    name: Chess Library
    runs-on: ubuntu-latest
    strategy:
      matrix:
        id: [1, 2, 3]
    steps:
      - uses: actions/checkout@v3
      - name: Installing required packages
        run: |
          sudo apt-get update
          g++ --version

      - name: Installing Meson
        run: |
          sudo apt-get install python3-pip python3-setuptools ninja-build pipx
          sudo pipx install meson

      - name: Configuring Meson
        run: |
          meson setup build

      - name: Normal Tests
        if: matrix.id == 1
        run: |
          meson compile -C build
          ./build/tests/tests

      - name: ASAN Tests
        if: matrix.id == 2
        run: |
          meson configure build -Db_sanitize=address
          meson compile -C build
          ./build/tests/tests

      - name: Undefined Tests
        if: matrix.id == 3
        run: |
          meson configure build -Db_sanitize=undefined
          meson compile -C build
          ./build/tests/tests
